@import "general.css";

/* Color Scheme:
    F2F1F0
    A89891
    FF6600
    9D7B50
    17161A
*/

.split-pane {
    -fx-border-color: transparent;
}
.split-pane-divider {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #e3e3e3;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.sidebarButton {
    -fx-font-size: 20;
    -fx-text-fill: #fff;
    -fx-fill-width: true;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: transparent;
}
.sidebarButton:hover {
    -fx-cursor: hand;
}
.sidebarButton:selected {
    -fx-background-color: #FF6600;
}

#sidebar {
    -fx-background-color: #17161A;
}