@import "general.css";

#tile {
    -fx-background-color: #819595;
    -fx-background-radius: 5px;
}
#tile:hover {
    -fx-cursor: hand;
}

.title {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.labelName {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

.textLabel {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 1em;
}